.table-row {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid #b5b7c4;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.table-cell {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: #2e4c34;
  font-size: 16px;
  font-weight: 500;
}

.mobile-no-column {
  flex-grow: 1;
}

.mobile-no-value {
  flex-grow: 1;
}
